
@{
    ViewData["Title"] = "TrainerPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model int;

@await Component.InvokeAsync("TrainerAbout",Model)

 <a class="component" asp-area="" asp-controller="ExercisesLists" asp-action="List">Egzersiz Listele</a>

