
@{
    ViewData["Title"] = "AddDiet";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}


<div class="container mt-4">
    <h2>Diet Ekle</h2>

    <form asp-controller="Admin" asp-action="AddDiet" method="post">
        <div class="card">
            <div class="card-body">
                <!-- Egzersiz İsmi -->
                <div class="form-group">
                    <label for="exerciseName">Hedef</label>
                    <input type="text" class="form-control" id="exerciseName" name="Target" required>
                </div>

                <!-- Egzersiz Set Sayısı -->
                <div class="form-group">
                    <label for="setCount">Günlük Kalori</label>
                    <input type="number" class="form-control" id="setCount" name="DailyCalories" required>
                </div>

                <!-- Egzersiz Video URL'si -->
                <div class="form-group">
                    <label for="videoUrl">Kahvaltı</label>
                    <input type="text" class="form-control" id="videoUrl" name="Breakfast" required>
                </div>

                <!-- Egzersiz Hedefi -->
                <div class="form-group">
                    <label for="exerciseGoal">Öğle Yemeği</label>
                    <input type="text" class="form-control" id="exerciseGoal" name="Dinner" required>
                </div>

                <!-- Egzersiz Hedefi -->
                <div class="form-group">
                    <label for="exerciseGoal">Akşam Yemeği</label>
                    <input type="text" class="form-control" id="exerciseGoal" name="Lunch" required>
                </div>

                <!-- Gönder Butonu -->
                <button type="submit" class="btn btn-primary">Diyeti Ekle</button>
            </div>
        </div>
    </form>
</div>

